<div class="wide-block" ng-controller="listingsController as listings">
  <div class="featured-listings">
    <div id="featured-listings_marker"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- edit featured listings headline here -->
        <h2 class="block-title styler_color">
          MY FEATURED LISTINGS
        </h2>
      </div>
    </div>

    <div ng-repeat="item in listings.items" ng-if="$index % 3 == 0" class="row">
      <div class="col-md-4 col-sm-4">
        <div ng-repeat="it in [listings.items[$index]]" data-ng-include="'app/listings/ListingsItem.html'"></div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div ng-repeat="it in [listings.items[$index + 1]]" data-ng-include="'app/listings/ListingsItem.html'"></div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div ng-repeat="it in [listings.items[$index + 2]]" data-ng-include="'app/listings/ListingsItem.html'"></div>
      </div>
    </div>
  </div>
  <!-- /end featured listings summary block -->
</div>
