
<div data-ng-controller="layoutController as layout" ng-init="layout.getData()">

  <div id="container" class="main">
    <div id="out">
      <div id="home_marker"></div>
      <div data-ng-include="'app/layout/header.html'"></div>
      <div id="wrapper">

        <div class="container">
          <div class="container body-content ui-view-container">
            <div data-ui-view data-ng-ui-view-animate="zoomIn"></div>
          </div>

        </div>

      </div>
      <div id="empty"></div>
    </div>

  </div>
  <div data-ng-include="'app/layout/footer.html'"></div>

</div>
